
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&display=swap');

import * {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-family: 'Baloo 2', cursive !important;
}
.main-background {
  background-image: url(../asset/images/welcome_to_the_server.jpg);
  background-position: center center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Baloo";
  .main-content {
    position: absolute;
    right: 35%;
    top: 15%;
    background: linear-gradient(
      105.31deg,
      #1c2f52 -2.91%,
      rgba(28, 47, 82, 0) 105.21%
    );
    border-radius: 20px;
    height: 15rem;
    padding: 10px;
    text-align: center;
    h1 {
      color: #fff;
      margin-top: 2rem;
    }
    p {
      color: #fff;
      margin-top: 2rem;
      font-size: 20px;
    }
    .main-links {
      display: flex;
      justify-content: center;
      justify-content: space-around;
      p {
        font-size: 20px;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
.modal-content {
  background: linear-gradient(
    105.31deg,
    #1c2f52 -2.91%,
    rgba(28, 47, 82, 0) 105.21%

  );
  form label{
  color: #fff;
  }

  button {
    background-color: rgb(254, 254, 254) !important;
    box-shadow: 5px 5px 12px -5px #000000;
    color: #000;
  }
  .catgory-item-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 1rem;

    .catgory-item-list {
      padding: 2rem;
    box-shadow: 5px 5px 12px -5px #000000;
        
      

      .review {
        height: 20rem;
        overflow: auto;
        padding: 1rem;
        .card {
          box-shadow: 5px 5px 12px -5px #000000;
          width: 100%;
          height: 10rem;
       background-color: #1c2f52;
          color: #fff;
          p {
            padding: 2rem;
          }
        }
      }

      .catgory-item-detail {
        display: flex;
        width: 85%;
        justify-content: space-between;
        padding: 1rem 2rem;

        p {
          color: #fff;
        }
      }
    }

    .catgory-package{
  
box-shadow: 5px 5px 12px -5px #000000;
    }
  }

  h5 {
    color: #fff;
  }
  .wallet-icons {
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
}
// the end of main page and the start of Explore page navigation bar

.background {
  background: linear-gradient(105.31deg,
        #1c2f52 -2.91%,
        rgba(28, 47, 82, 0) 105.21%);
  background-position: center center;
  min-height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  .navbars {
    width: 100% !important;
    background-color: #1c2f52 !important;
    height: 5rem;
    padding: 1rem 2rem;

    .nav-link-contents {
      display: flex !important;
      justify-content: space-between !important;
      align-items: center !important;
      .nav-search {
        width: 20%;
        input {
          width: 100%;
          border-radius: 10px;
        }
      }

      .nav-links {
        display: flex;
        gap: 30px;
        .dropbtn {
          display: flex;
          align-items: center;
          justify-content: center;
          color: black;
          height: 2rem;
          width: 2rem;
          border-radius: 50%;
background-color: #f1f1f1;
          border: none;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
          position: relative;
          display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          right: 0;
          min-width: 300px;
          padding: 1rem;
          box-shadow: 5px 5px 12px -5px #000000;
          z-index: 1;

          border-radius: 10px;
          color: #fff;
          .wallet-card {
            border: #1c2f52 solid 1px;
            border-radius: 20px;
            min-height: 10rem;
            width: 300px;
            background: linear-gradient(
              105.31deg,
              #1c2f52 -2.91%,
              rgba(28, 47, 82, 0) 105.21%
            );
            padding: 1rem;

            .wallet-header {
              display: flex;
              justify-content: center;
              margin-bottom: 10px;
            }
            .wallet-ballance {
              display: flex;
              justify-content: center;
              justify-content: space-around;
              align-items: center;

              margin-bottom: 10px;
              img {
                width: 2.3rem;
                height: 1.5rem;
                border-radius: 5px;
              }
            }
            .wallet-id {
              display: flex;
              justify-content: center;
              color: #fff;
            }
          }
          .change-wallet {
            width: 100%;
            text-align: center;

            button {
              margin-top: 1rem;
              width: 90%;
              margin-left: auto;
              margin-right: auto;
              border: none;
              background-color: #1c2f52;
              color: #fff;
              border-radius: 5px;
            }
          }
        }

        /* Links inside the dropdown */
        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
          background-color: #1c2f52;
          color: #fff;
          border-radius: 10px;
        }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
          display: block;
        }

        /* Change the background color of the dropdown button when the dropdown content is shown */

        a {
          text-decoration: none;
        }
        p {
          color: #fff;
          font-size: 18px;
        }
      }
    }
  }

  //  Explore page Main Content
  .explore-main {
    width: 100%;
    min-height: 100vh;
    .explore-main-filters {
      display: flex;
      margin-top: 3rem;
      margin-left: 1rem;
      gap: 10px;
      .explore-timezone {
        width: 100%;
        height: 20vh;
        overflow: auto;
        padding: 0 1rem;
      }
      .explore-language {
        width: 100%;
        height: 20vh;
        overflow: auto;
        padding: 0 1rem;
      }
      .dropdown {
        .dropdown-menu {
          min-width: 210px;
          padding: 10px;
          .accordion-item {
            width: 300px;
            button {
              color: #fff;
              background-color: #1c2f52;
            }
          }
        }
      }

      button {
        background-color: rgb(229, 227, 238);
        color: #000;
      }
    }
    hr {
      color: rgba(131, 88, 255, 1);
    }
    .explore-main-cards {
      width: 100%;
      .explore-main-card-list {
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        flex-wrap: wrap;
        padding: 0 1rem;
        .card {
          width: 18rem;
          border-radius: 10px;
box-shadow: 5px 5px 12px -5px #000000;
       
.card-img-top{
 width: 100%;
 height: 15rem;
}
          .card-headers {
            width: 100%;
            padding: 10px;
            display: flex;
            align-items: center;
            .card-header-ring {
              display: flex;
              justify-content: center;
              align-items: center;
           
              width: 5.5rem;
              height: 5.5rem;
              border-radius: 50%;
            }
            img {
              border-radius: 50%;
              width: 5rem;
              height: 5rem;
            }

            .card-header-text {
              margin-top: 1rem;
              margin-left: 1rem;
            }
          }

          .card-body {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
  // start of blog page

  .blog-header {
    background: linear-gradient(
      105.31deg,
      #1c2f52 -2.91%,
      rgba(28, 47, 82, 0) 105.21%
    );
    height: 20rem;
    h1 {
      position: absolute;
      top: 10rem;
      left: 10rem;
      font-size: 4rem;
      width: 500px;
      color: rgb(232, 239, 21);
    }
  }
  .blog-container {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 1rem;
    .card-body {
      p {
        line-height: 24px;
      }

      .fa-twitter {
        color: #2267e7;
      }
    }
  }
}

// beginning of the profile page
.profile-header {
  background-image: url(../asset/images/8a7e72c13d4029637e245385a84c0315.jpg);
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .profile-picture {
    img {
      position: absolute;
      border-radius: 50%;
      top: 10rem;
      left: 2rem;
      width: 10rem;
      height: 10rem;
      z-index: 1;
    }
  }
}
.profile-section{
  display: flex;
  gap: 20px;
  .profile-main{
ul {
    display: flex;
    gap: 50px;
    margin-top: 1rem;

    li {
      list-style: none;

      p {
        background-color: #f1f1f1;
        width: 10rem;
        text-align: center;
        border-radius: 10px;
        font-size: 20px;
        box-shadow: 0px -1px 12px 2px rgba(186, 186, 186, 1);
      }

    }
  }
  }

}
.profile-details{

  z-index: 0;
  width: 20%;
  min-height: 70vh;
box-shadow: 5px 5px 12px -5px #000000;
  left: 1rem;
  padding: 1rem;
  color: #000000;
  background-color: #f1f1f1;

  .profile-details-name{
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: #000;
      text-align: center;
  }
  .profile-card {
  box-shadow: 5px 5px 12px -5px #000000;
    border-radius: 20px;
    margin-top: 1rem;
    padding: 1rem;
    h4{
      text-align: center;
    }
  }
}
.profile-main{
  width: 70%;
.green {
    background-color: rgb(8, 185, 50);
    color: #fff;

  }
  button{
    border: none;
    background-color: #f1f1f1;
     
        box-shadow: 5px 5px 12px -5px #000000;
    width: 10rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
  }


.flex{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
.card {
    margin-top: 1rem;
    box-shadow: 5px 5px 12px -5px #000000;

    .card-headers {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 1rem 0;

      img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
      }
    }
  }
}

 
}







.card {
  width: 18rem;
  border-radius: 20px !important;



  .card-header {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;

    .card-header-ring {
      display: flex;
      justify-content: center;
      align-items: center;
    
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 50%;
    }

    img {
      border-radius: 50%;
      width: 5rem;
      height: 5rem;
    }

    .card-header-text {
      margin-top: 1rem;
      margin-left: 1rem;
    }
  }

  .card-body {
    display: flex;
    justify-content: space-between;
  }
}
.create-form{
  width: 100%;
  height: 90vh;
padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
    font-family: 'Baloo';
  p{
    margin: 0 auto;
    line-height: 30px;
    width: 50%;
    text-align: center;
    margin-top: 1rem;
    font-size: 20px;
 
  }
  button {
    background-color: #1c2f52;
    width: 30%;
    border: none;
    height: 2rem;
    font-size:20px;
    color: #fff;
    margin-top: 1rem;
    border-radius: 10px;
  }


}
.paymet-contents {
  display: flex;
  justify-content: center;
  border: #1c2f52 solid 1px;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  border-radius: 5%;

  .order-summary{
border: #1c2f52 solid 1px;
padding: 2rem;
border-radius: 5%;
  }
  button {
    border: none;
    width: 100%;
    font-size: 20px;
  }
}