@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Baloo 2", cursive !important;
}

// set all backgroungs
.background {
  position: relative;
  background: url(../asset/images/mainBack.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background:before {
  content: "";
  background: linear-gradient(175.09deg,
      #192846 3.95%,
      rgba(25, 40, 70, 0.75) 78.38%);
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.75;
}

.background-image {
  position: relative;
  background: linear-gradient(175.09deg,
      #192846 3.95%,
      rgba(25, 40, 70, 0) 78.38%);
  background-position: center center;
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

// set navigation bar
nav {
  width: 100%;
  padding: 1rem 0;

  img {
    position: relative;
    height: 4rem;
  }

  .nav-link-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 5rem;

    a {
      padding-top: 1rem;
      position: relative;

      P {
        font-size: 20px;
      }
    }
  }

  .nav-link-contents {
    align-items: center !important;

    .nav-search {
      width: 20%;
      position: relative;

      input {
        width: 100%;
        border-radius: 10px;
      }
    }

    .dropbtn {
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      background-color: #f1f1f1;
      border: none;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      right: 0;
      min-width: 300px;
      padding: 1rem;
      box-shadow: 5px 5px 12px -5px #000000;
      z-index: 1;

      border-radius: 10px;
      color: #fff;

      .wallet-card {
        border: #1c2f52 solid 1px;
        border-radius: 20px;
        min-height: 10rem;
        width: 300px;
        background: linear-gradient(105.31deg,
            #1c2f52 -2.91%,
            rgba(28, 47, 82, 0) 105.21%);
        padding: 1rem;

        .wallet-header {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          align-items: center;
        }

        .wallet-ballance {
          display: flex;
          justify-content: center;
          justify-content: space-around;
          align-items: center;

          margin-bottom: 10px;

          img {
            width: 2.3rem;
            height: 1.5rem;
            border-radius: 5px;
          }
        }

        .wallet-id {
          display: flex;
          justify-content: center;
          color: #fff;
          align-items: center;
        }
      }

      .change-wallet {
        width: 100%;
        text-align: center;
        margin-top: 1rem;
      }
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 10px 16px;
      text-decoration: none;
      display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #1c2f52;
      color: #fff;
      border-radius: 10px;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */

    a {
      text-decoration: none;
    }

    p {
      color: #fff;
      font-size: 18px;
    }
  }
}

// set fonts and buttons{
button {
  background-color: rgb(254, 254, 254) !important;
  box-shadow: 5px 5px 12px -5px #000000;
  color: #000 !important;
  border: none;
  width: 90%;
  border-radius: 20px !important;
  height: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

p {
  color: #fff;
  font-size: 20px;
}

h2 {
  font-size: 70px !important;
}

// set hero page main page
.hero-container {
  background: #ffffff;
  width: 100%;

  // -webkit-box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.58);
  border-radius: 20px 20px 0px 0px;
  position: relative;
}

.hero {
  width: 100%;
  height: 36rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  text-align: center;

  p {
    color: #1c2f52;
    text-align: center;
    margin-top: 2rem;
  }

  img {
    width: 32rem;
    position: relative;
  }
}

logo-slider {
  background: linear-gradient(187.89deg,
      rgba(21, 91, 225, 0.75) 6.08%,
      rgba(21, 91, 225, 0) 162.19%);
  position: absolute;
  bottom: 4rem;
  padding-top: 2rem;
  right: 0;
  transform: skewy(-6deg);
  padding: 2rem 0;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  display: flex;

  &:hover div {
    animation-play-state: paused;
  }

  div {
    display: flex;
    position: relative;
    animation: marquee 5s linear infinite;
    justify-content: space-around;

    // Debug: This is just to help see where the loop happens
    // &:nth-of-type(1) { &, img { border:1px dashed red;  }}
    // &:nth-of-type(2) { &, img { border:1px dashed blue; }}

    // You may need this if there are too few images for the banner width
    //min-width:100%;
  }

  img {
    display: block;
    margin: 0 1vw;
    transform: rotate(0deg);
    border-radius: 20px;
    width: 200px;
    height: 200px;
  }

  &:after {
    content: "";
    // position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    // background: linear-gradient(to right, white, rgba(white, 0) 80px, rgba(white, 0) calc(100% - 80px), white);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

// set about page

.about-page {
  width: 100%;
  min-height: 100vh;
  margin-top: 5rem;
  padding: 0 3rem;

  p {
    color: #1c2f52;
  }

  h2 {
    color: #1c2f52;
    margin-bottom: 4rem;
    text-decoration: underline;
  }

  .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;

    p {
      text-align: center;
      margin-right: 3rem;
      width: 90%;
    }
  }
}

.box {
  width: 15rem;
  height: 15rem;
  background-color: #575757;
  border-radius: 20px;
  margin-right: 6rem;

  transform: rotate(-20deg);

  box-shadow: 0px 3px 0px 2px rgba(0, 0, 0, 0.1),
    0px 6px 0px 4px rgba(0, 0, 0, 0.1), 0px 9px 0px 6px rgba(0, 0, 0, 0.1),
    0px 12px 0px 8px rgba(0, 0, 0, 0.1);
}

.team {
  width: 100%;
  padding: 2rem 2rem;
  text-align: center;

  .teams {
    display: flex;
    justify-content: space-around;
  }

  p {
    color: #1c2f52;
  }

  h2 {
    text-decoration: underline;
    margin-bottom: 4rem;
  }
}

// main page completed start of explore page
// setting up catagory buttons
.filer-links {
  width: 50%;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;

  button {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 1rem;
  }

  .accordion-button {
    width: 100%;
  }
}

.dropdown-menu {
  padding: 1rem;
  width: 20rem;
}

.explore-timezone,
.explore-language {
  height: 20rem;
  overflow: auto;
}

.card {
  box-shadow: 5px 5px 12px -5px #000000;

  .card-body {
    display: flex;
    justify-content: space-between;
  }
}

.main-container {
  width: 100%;
  padding: 2rem;
  display: flex;

  .main-content {
    width: 100%;
    margin-right: 6px;
  }

  .main-content-items {
    display: flex;
    height: 75vh;
    overflow: auto;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 2rem;
  }

  p {
    color: #1c2f52;
    font-size: 16px;
  }

  .card-headers {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 1rem;

    img {
      border-radius: 50%;
      width: 6rem;
      height: 6rem;
    }
  }
}

.main-content-info {
  width: 50%;
  box-shadow: 5px 5px 12px -5px #000000;
  height: auto;
  background-color: #f1f1f1;
  border-radius: 20px;
  margin-top: 2rem;

  nav {
    width: 100%;

    button {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
    }
  }
}

// end of explore page
// start of profile page
.banner {
  background-image: url(../asset/images/8a7e72c13d4029637e245385a84c0315.jpg);
  width: 100%;
  height: 15rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.profile-container {
  width: 100%;
  display: flex;
  gap: 20px;
}

.profile-details {
  width: 20%;
  height: auto;
  box-shadow: 5px 5px 12px -5px #000000;
  background-color: #f1f1f1;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0 20px;

  p {
    color: #1c2f52;
  }

  img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    box-shadow: 5px 5px 12px -5px #000000;
    margin-top: -6rem;
  }

  .profile-description {
    box-shadow: 5px 5px 12px -5px #000000;
    padding: 1rem;
    margin-bottom: 3rem;
    border-radius: 20px;
  }
}

.profile-tabs {
  width: 70%;

  button {
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
}

.testimonials {
  width: 100%;

  .testimonials-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 90vh;
    overflow: auto;
    padding: 2rem;

    .card {
      padding: 1rem;
    }
  }

  p {
    color: #1c2f52;
  }

  .testimonials-clients {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }
}

// end of testimonials
// settings
.settings-nav {
  width: 100%;
}

.settings-nav-links {
  border: #000 solid 1px;
  width: 100%;
  display: flex;
  gap: 20px;

  nav {
    width: 20%;
    height: 90vh;
    background-color: #f1f1f1;
    box-shadow: 5px 5px 12px -5px #000000;

    button {
      width: 100%;
      margin-bottom: 1rem;
      border-radius: 0% !important;
    }
  }

  .tab-content {
    width: 50% !important;

    form {
      width: 100%;

      .btn {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
      }

      button {
        width: 40%;
      }
    }

    table {
      background-color: #f1f1f1;
      box-shadow: 5px 5px 12px -5px #000000;
    }


    .stats-header {
      display: flex;
      gap: 20px;
      width: 100%;

      .stats-header-content {
        background-color: #f1f1f1;
        box-shadow: 5px 5px 12px -5px #000000;
        text-align: center;
        padding: 1rem;
        width: 300px;
        margin-bottom: 1rem;

        p {
          color: #000;
        }
      }
    }

    .container {
      margin-top: 1rem;
      background-color: #f1f1f1;
      box-shadow: 5px 5px 12px -5px #000000;
      width: 100%;
      padding: 1rem;

      .orders {
        width: 100%;

        .action-btn {
          width: 100%;
          display: flex;
          gap: 20px;

          .success {
            background-color: green !important;
            width: 100px !important;
            color: #f1f1f1 !important;
          }

          .danger {
            background-color: red !important;
            width: 100px !important;
            color: #f1f1f1 !important;
          }
        }
      }

    }

  }
}